
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.box{
    display: flex;
    align-items: center;
    justify-content:  center;

    height: 500px;
    margin: auto;
   

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h2{
    font-size: 5rem;
    color:#fff;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 10px #00b3ff;
    text-shadow: 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 80px #00b3ff,
                 0 0 120px #00b3ff

}