@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-shape-divider-top-1676474210 {
   position: relative;
   top: -100px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1676474210 svg {
    position: relative;
    display: block;
    width: calc(194% + 1.3px);
    height: 300px;
    
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1676474210 .shape-fill {
    fill: #FFFFFF;
}






